#welcome {
  transition: transform 0.2s;
  text-align: center;

  &:hover {
    transition: transform 0.2s;
    transform: scale(1.2);
  }

  &:active {
    transition: transform 0.2s;
    transform: scale(1.267);
  }
}
