<div id="main">
  <app-title></app-title>
  <div class="col align-middle">
    <img
      src="https://picsum.photos/seed/wow/380"
      alt="random image from picsum.photos"
    />
    <p>
      I like doing random stuff, because I can.
      <br />
      Yeah. That's kinda it.
    </p>
    <div class="row flex-spaces child-borders">
      <a href="#" class="paper-btn">Stuff</a>
      <a href="#" class="paper-btn">Socials</a>
      <a href="javascript:void(0);" class="paper-btn disabled">Blog</a>
    </div>
  </div>
</div>
