<div class="container flex-middle flex-center col" id="main">
  <h3 id="welcome">Hi, i'm <strong id="name">sxlphuric</strong></h3>

  <div class="row flex-middle flex-center">
    <div class="col flex-middle flex-center">
      <img src="https://picsum.photos/400" />

      <p class="col">
        I like doing random stuff, because I can.
        <br />
        Yeah. That's kinda it.
      </p>
      <div class="row flex-spaces">
        <a href="#" class="paper-btn">Stuff</a>
        <a href="#" class="paper-btn">Socials</a>
        <a
          href="#"
          class="paper-btn disabled"
          disabled
          popover-bottom="Under construction."
          >Blog</a
        >
      </div>
    </div>
  </div>
</div>
