#welcome {
  transition: transform 0.2s;
  text-align: center;

  &:hover {
    transition: transform 0.2s;
    transform: scale(1.2);
  }
}

p {
  padding: 0px;
  text-align: center;
}

#main {
  height: 100vh;
  width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.disabled {
  margin: 0px;
}
